/* Global styles */
body ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f7f7f7;
}

/* Header styles */
header {
  background-color: rgb(101, 68, 142);
  color: #fff;
  padding: 2em;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

section h2 {
  color: rgb(74, 133, 148);
  font-size: 2em;
}

/* Main content styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

